body {
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #000000;
	text-align: center;
}
a:hover {
	text-decoration: none;
	color: #3163CE;
}
.year {
	border-style: outset;
	border-width: 1px;
	background-color: #CD5C5C;
	text-align: center;
}
.month {
	border-style: none;
	background-color: #CD5C5C;
	text-align: center;
}
.yearname {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #FFEFDB;
}
.monthname {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	background-color: #FFEFDB;
	color: #667171;
	border-style: solid;
	border-width:0px
}
.dayname {
	background-color: #8B4513;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #FFEFDB;
	border-style: none;
	border-width:1px
}
.weeknumtitle {
	background-color: #8B4513;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #FFEFDB;
	border-style: none;
	border-width:1px
}
.weeknum {
	text-align: center;
	font-size: 10px;
	height:90px;
	width:90px;
	color: #000099;
	background-color: #EEDFCC;
}
.week {
	border-style: none;
	background-color: #CD5C5C;
	text-align: center;
}
.monthweek {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #CDC9C9;
	border-style: solid;
	border-width:1px
}
.yearnavigation {
	font-size: 12px;
}
.datepicker {
	background-color: #CD5C5C;
}
.datepickerform {
	margin: 0px;
}
.monthnavigation {
	font-family: Tahoma, Arial, sans-serif;
}
.monthpicker {
	font-size: 11px;
	background-color: #CD5C5C;
	color: #FFEFDB;
}
.yearpicker {
	font-size: 11px;
	background-color: #CD5C5C;
	color: #FFEFDB;
}
.pickerbutton {
	background-color: #CD5C5C;
	color: #FFEFDB;
}
.nomonthday {
	text-align: center;
	vertical-align: top;
	font-size: 10px;
	height:90px;
	width:90px;
	color: #aaaaaa;
}
.monthday {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: #FFEFDB;
	height:90px;
	width:90px;
}
.monthday a {
	color: #FFEFDB;
}
.today {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	border-width: 1px;
	border-style: none;
	background-color: #EEE9E9;
	color: #000000;
	height:90px;
	width:90px;
}
.selectedday {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	border-width: 1px;
	border-style: none;
	background-color: #CDC9C9;
	height:90px;
	width:90px;
}
.sunday {
	background-color: #FF7272;
	vertical-align: top;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #FFEFDB;
	height:90px;
	width:90px;
}
.sunday a {
	color: #FFEFDB;
}
.saturday {
	background-color: #FF7272;
	vertical-align: top;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #FFEFDB;
	height:90px;
	width:90px;
}
.saturday a {
	color: #FFEFDB;
}
.event {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: #FFEFDB;
	background-color: #CDCD00;
	height:90px;
	width:90px;
}
.event a {
	color: #000000;
}
.selectedevent {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	border-width: 1px;
	border-style: none;
	color: #000000;
	background-color: #CDCD00;
	height:90px;
	width:90px;
}
.selectedevent a {
	background-color: #CDCD00;
	color: #000000;
}
.todayevent {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	border-width: 1px;
	border-style: none;
	color: #000000;
	background-color: #CDCD00;
	height:90px;
	width:90px;
}
.todayevent a {
	background-color: #CDCD00;
	color: #000000;
}
.eventcontent {
	font-size: 10px;
	border-style: solid;
	border-width: 1px;
	width: 100%;
}
