body {
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #000000;
	text-align: center;
}
a:hover {
	text-decoration: none;
	color: #3163CE;
}
.year {
	border-style: outset;
	border-width: 1px;
	background-color: #e4e4e4;
	text-align: center;
}
.month {
	border-style: none;
	background-color: #e4e4e4;
	text-align: center;
}
.yearname {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.monthname {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	background-color: #DADADA;
	color: #5D5D5D;
	border-style: outset;
	border-width:1px
}
.dayname {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background-color: #3E97CF;
	color: #ffffff;
	border-style: outset;
	border-width:1px
}
.weeknumtitle {
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	background-color: #e9e9e9;
	border-style: outset;
	border-width:1px
}
.weeknum {
	text-align: center;
	font-size: 10px;
	height:90px;
	width:90px;
	color: #000099;
	background-color: #e9e9e9;
}
.week {
	border-style: none;
	background-color: #e4e4e4;
	text-align: center;
}
.monthweek {
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #667171;
	border-style: solid;
	border-width:1px
}
.yearnavigation {
	font-size: 12px;
}
.datepicker {
	background-color: #e4e4e4;
}
.datepickerform {
	margin: 0px;
}
.monthnavigation {
	font-family: Tahoma, Arial, sans-serif;
}
.monthpicker {
	font-size: 11px;
	background-color: #eeeeee;
}
.yearpicker {
	font-size: 11px;
	background-color: #eeeeee;
}
.pickerbutton {
	font-size: 11px;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}
.nomonthday {
	text-align: center;
	vertical-align: top;
	font-size: 10px;
	height:90px;
	width:90px;
	color: #aaaaaa;
}
.monthday {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	background-color: #E4E4E4;
	color: #384955;
	height:90px;
	width:90px;
}
.today {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	background-color: #5CB5C7;
	color: #ffffff;
	height:90px;
	width:90px;
}
.selectedday {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	background-color: #66ff66;
	height:90px;
	width:90px;
}
.sunday {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: #667171;
	height:90px;
	width:90px;
}
.sunday a {
	color: #667171;
}
.saturday {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: #667171;
	height:90px;
	width:90px;
}
.saturday a {
	color: #667171;
}
.event {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:90px;
	width:90px;
}
.event a {
	background-color: #ffff99;
	color: red;
}
.selectedevent {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:90px;
	width:90px;
}
.selectedevent a {
	background-color: #ffff99;
	color: red;
}
.todayevent {
	text-align: center;
	vertical-align: top;
	font-size: 11px;
	font-weight: bold;
	color: red;
	background-color: #ffff99;
	height:90px;
	width:90px;
}
.todayevent a {
	background-color: #ffff99;
	color: red;
}
.eventcontent {
	font-size: 10px;
	border-style: outset;
	border-width: 1px;
	width: 100%;
}
